*
{
    box-sizing: border-box;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%}
.col-5{width: 41%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66%;}
.col-9{width: 75%;}
.col-10{width: 83.22%;}
.col-11{width: 91.66%}
.col-12{width: 100%;}

@media (min-width: 0 px)
{
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%}
    .col-s-5{width: 41%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.22%;}
    .col-s-11{width: 91.66%}
    .col-s-12{width: 100%;}
    
}

@media (min-width: 780 px)
{
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%}
    .col-m-5{width: 41%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.22%;}
    .col-m-11{width: 91.66%}
    .col-m-12{width: 100%;}
    
}

[class*="col-"]{
    float: left;
}


.row::after{
    content: "";
    clear: both;
    display: table;
}

.Encabezado{
    background-color: firebrick;
    color: floralwhite;
    height: 2em;
    line-height: 2em;
}

.Encabezado div{
    display: inline-block;
}

.m-1{
    margin: 1em;
}

.p-1{
    padding: 1em;
}

.p-2
{
    padding: 1.5em;
}

.border{
    border: black solid 1px;   
}

.textcenter
{
    text-align: center;
}

.textverde
{
    color: green;
}

.teal
{
    background-color: green;
}

.leng-box
{
    height: 1em;
}

.flex
{
    display: flex;
}


.pb-1
{
    padding-bottom: .5em;
}

.skill-box
{
    background-color: lightgray;
}

.seccion-title
{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}


.textwhite
{
    color: whitesmoke;
}

.contenidoflex
{
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenidoflex img
{
    height: 200px;
    width: 200px;
}

.textgeneral
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}